@{
                /**/

                ViewBag.Title = "Employee List";
}

<script src="~/Content/scripts/angularjs-1.7.2.js"></script>
<script src="~/Content/scripts/angular-route.js"></script>
<script src="~/Content/scripts/angular-animate.js"></script>
<script src="~/Content/scripts/angular-sanitize.js"></script>
<script src="~/Content/scripts/ui-bootstrap.js"></script>
<script src="~/Content/scripts/angular-bootstrap-toggle.min.js"></script>

<script src="~/Content/scripts/EmployeeApp.js"></script>
<script src="~/Content/scripts/EmployeeService.js"></script>
<script src="~/Content/scripts/addModalInstanceController.js"></script>
<script src="~/Content/scripts/EmployeeController.js"></script>



<h2>Employees</h2>
<div ng-app="EmployeeApp" ng-controller="EmployeeController">
    @Html.AntiForgeryToken()
    <input type="button" value="Add New" ng-click="AddNew()">
    <br>
    <ul uib-pagination total-items="TotalItems" max-size="MaxSize" ng-model="CurrentPage" items-per-page="ItemsPerPage"
        ng-change="PageChanged()"></ul>
    <br />
    <label for="searchtext">Find: </label>
    <input id="SearchText" type="text" placeholder="Search" ng-model="SearchStr">
    <input type="button" value="Search" ng-click="Search()">
    <span class="has-error" ng-show="!Result.Success">{{Result.Message}}</span>
    <br>
    <a ng-if="IsAdmin" href="Employees/DownloadAllUser">Donwload Users</a>
    <br />
    <table class="table table-striped table-hover table-condensed">
        <tr>
            <th class="link-unlock" ng-click="OrderbyCriteria('Id')">Id</th>
            <th class="link-unlock" ng-click="OrderbyCriteria('Alphabetical')">UserName</th>
            <th>Full Name</th>
            <th class="link-unlock" ng-click="OrderbyCriteria('HireDate')">Added Date</th>
            <th class="link-unlock" ng-click="OrderbyCriteria('Department')">Type</th>
            <th ng-if="IsAdmin">Lock ?</th>
            <th ng-if="ShouldDisplayAddAndEdit">Active ?</th>
            <th></th>
        </tr>
        <tr ng-repeat="u in Users">
            <td>{{u.Id}}</td>
            <td>{{u.UserName}}</td>
            <td>{{u.FullName}}</td>
            <td>{{u.AddedDateStr}}</td>
            <td>{{u.UserTypeStr}}</td>
            <td ng-if="IsAdmin">
                <span class="link-unlock" ng-if="u.IsLock" ng-click="UnlockUser(u)">Unlock</span>
            <td ng-if="ShouldDisplayAddAndEdit">
                <ui-toggle ng-model="u.IsActive" on="On" off="Off" ng-change="ChangedActive(u)"
                           class="toggle-success toggle-xs"></ui-toggle>
            </td>
            <td>
            <input ng-if="ShouldDisplayAddAndEdit" type="button" value="Edit" ng-click="beginEdit(u.Id)">
            <input type="button" value="Detail" ng-click="ShowUserDetail(u.Id)" />
            </td>
        </tr>
    </table>
</div>

